@charset "utf-8";

.board_top { clear:both; position:relative; overflow:hidden; zoom:1;}
.board_total{position:absolute; right:0; bottom:6px;}

.board_list { clear:both; width:100%; table-layout:fixed; margin:5px 0 0 0; }
.board_list th { font-weight:bold; font-size:12px; } 
.board_list th { background:url(../../../index.html?=$board_skin_path?>/img/title_bg.gif) repeat-x; } 
.board_list th { white-space:nowrap; height:34px; overflow:hidden; text-align:center; } 
.board_list th { border-top:1px solid #ddd; border-bottom:1px solid #ddd; } 

.board_list tr.bg0 { background-color:#fafafa; } 
.board_list tr.bg1 { background-color:#ffffff; } 

.board_list td { padding:.5em; }
.board_list td { border-bottom:1px solid #ddd; } 
.board_list td.num { color:#999999; text-align:center; }
.board_list td.checkbox { text-align:center; }
.board_list td.subject { overflow:hidden; }
.board_list td.name { padding:0 0 0 10px; }
.board_list td.datetime { font:normal 11px tahoma; color:#BABABA; text-align:center; }
.board_list td.hit { font:normal 11px tahoma; color:#BABABA; text-align:center; }
.board_list td.good { font:normal 11px tahoma; color:#BABABA; text-align:center; }
.board_list td.nogood { font:normal 11px tahoma; color:#BABABA; text-align:center; }

.board_list .notice { font-weight:normal; }
.board_list .current { font-weight:bold !important; font-size:12px; font-family:tahoma; color:#E15916; }
.board_list .comment { font-family:dotum, "µ¸¿ò"; font-size:11px; letter-spacing:-1px; color:#E625FF; }

.board_button { clear:both; margin:10px 0 0 0; overflow:hidden; zoom:1;}

.board_page { clear:both; text-align:center; margin:3px 0 0 0; overflow:hidden; zoom:1;}
.board_page a:link { color:#777; }

.board_search { clear:both; text-align:center; margin:10px 0 0 0; }
.board_search .stx { height:21px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; }

.small,
.small a {
	color:#0075C8;
	font-size:11px;
}

.comment-cont {
	line-height:20px;
	padding:7px;
	word-break:break-all;
	overflow:hidden;
	clear:both;
}
.comment-cont a {
	color:#0070BA;
	text-decoration:underline;
}