@charset "utf-8";

#container #sidebar {
	float:left;
	margin-left:10px;
	width:170px;
	overflow:hidden;
	background::#909090;
	display:inline-block;
}
#container #content {
	float:right;
	margin-right:10px;
	overflow:hidden;
	width:735px;
	padding-bottom:30px;
	display:inline;
}
.view-img img {
	max-width:715px !important;
	width:expression(this.width > 715 ? 715: true); /* ie max-width hack */
}